* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Move to top icon */
.move-top {
    top: 50vh;
    opacity:0;
    right: 20vw;
    width: 50px;
    z-index: 99;
    height: 50px;
    display: block;
    position: fixed;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.move-top img {
    width: 100%;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #27ae60;
}





















